        body {
            margin: 0;
        }
        
        @media(max-width: 1300px) {}
        
        @media (max-width: 1000px) {
            .quiz_started {
                width: 100%;
                display: grid;
                grid-template-columns: 100%;
            }
            .quiz_display {
                display: grid;
                grid-template-columns: 100%;
                width: 100%;
            }
            .quiz_display .quiz_display_btn {
                margin: 0px;
            }
            .quiz_display .quiz_display_btn .quiz_start_btn {
                width: 210px;
                height: 54px;
            }
            .quiz_display .quiz_display_image {
                margin-bottom: 25px;
                display: grid;
                justify-content: center;
            }
            .quiz {
                font-size: 25px;
            }
            .quiz.quiz-header {
                font-size: 20px;
            }
            #answer_image {
                width: 100%;
            }
        }
        
        @media (max-width: 800px) {
            .quiz_started {
                width: 100%;
                display: grid;
                grid-template-columns: 100%;
            }
            .quiz_display {
                display: grid;
                grid-template-columns: 100%;
                width: 100%;
            }
            .quiz_display .quiz_display_btn {
                margin: 0px;
            }
            .quiz_display .quiz_display_btn .quiz_start_btn {
                width: 210px;
                height: 54px;
            }
            .quiz_display .quiz_display_image {
                margin-bottom: 25px;
                display: grid;
                justify-content: center;
            }
            .quiz {
                font-size: 25px;
            }
            .quiz.quiz-header {
                font-size: 20px;
            }
            #answer_image {
                width: 100%;
            }
        }
        
        @media(max-width: 640px) {
            .quiz_started {
                width: 100%;
                display: grid;
                grid-template-columns: 100%;
            }
            .quiz_display {
                display: grid;
                grid-template-columns: 100%;
                width: 100%;
            }
            .quiz_display .quiz_display_btn {
                margin: 0px;
            }
            .quiz_display .quiz_display_btn .quiz_start_btn {
                width: 210px;
                height: 54px;
            }
            .quiz_display .quiz_display_image {
                margin-bottom: 25px;
            }
            .quiz {
                font-size: 25px;
            }
            .quiz.quiz-header {
                font-size: 20px;
            }
            .quiz_display_button {
                width: 100%;
            }
            #answer_image {
                width: 100%;
            }
        }
        
        @media(max-width: 480px) {
            .quiz_started {
                width: 100%;
                display: grid;
                grid-template-columns: 100%;
            }
            .quiz_display {
                display: grid;
                grid-template-columns: 100%;
                width: 100%;
            }
            .quiz_display .quiz_display_btn {
                margin: 0px;
            }
            .quiz_display .quiz_display_btn .quiz_start_btn {
                width: 210px;
                height: 54px;
            }
            .quiz_display .quiz_display_image {
                margin-bottom: 25px;
            }
            .quiz {
                font-size: 25px;
            }
            .quiz.quiz-header {
                font-size: 20px;
            }
            .quiz_display_button {
                width: 100%;
            }
            #answer_image {
                width: 100%;
            }
        }
        
        @media (max-width: 320px) {
            .quiz_started {
                width: 100%;
                display: grid;
                grid-template-columns: 100%;
            }
            .quiz_display {
                display: grid;
                grid-template-columns: 100%;
                width: 100%;
            }
            .quiz_display .quiz_display_btn {
                margin: 0px;
            }
            .quiz_display .quiz_display_btn .quiz_start_btn {
                width: 210px;
                height: 54px;
            }
            .quiz_display .quiz_display_image {
                margin-bottom: 25px;
            }
            .quiz {
                font-size: 25px;
            }
            .quiz.quiz-header {
                font-size: 20px;
            }
            .quiz_display_button {
                width: 100%;
            }
            #answer_image {
                width: 100%;
            }
        }